html,body{
	height:100%;
	width:100%;
}
body{
	background:linear-gradient(-45deg,#8676e8,#951cd6,#e872bd,#e80e8d);
	position:absolute;
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	margin:0 0 0 0;
}

@keyframes gradient{
	0%{
		background-position: 0% 50%;		
	}
	
	50%{
		background-position:50% 100%;
	}
	
	100%{
		background-position:0% 50%;
	}
}

.linear-wipe {
	text-align: center;
	background: linear-gradient(to right, #FFF 20%, rgb(255, 106, 0) 40%, #FF0 60%, #FFF 80%);
	background-size: 200% auto;
	background-clip: text;
	-webkit-text-fill-color: transparent;

	animation: shine 5s linear infinite;
}

@keyframes shine {
	to {
		background-position: 200% center;
	}
}

.title{
	text-align:center;
	font-family: 'Lucida Handwriting', sans-serif;
	font-weight:bold;
	border-bottom: 2px solid black;
}

.list{
	width: 700dp;
	font-weight:700;
	font-family: Verdana, sans-serif;
}

.frame{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;	
}

button{
	background-color:darkorchid;
  border-radius:70%;
  padding: 10px 25px;
  font-size: 16px;
  color:white;
  margin: auto;
}

.center-align
{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}

.controls
{
	margin-top: 50px;
}

ol {
	border-bottom: 1px solid rgb(249, 30, 202) !important;
	border-radius: 6px;
	max-height: 400px;
	overflow: hidden;
	overflow-y: scroll;
}

::-webkit-scrollbar {
	display: none;
}

.gif{
	height: 30px;
	width: 60px;
}

.gifButton {
	padding: 0;
}

.row {
	display: flex;
	margin-bottom: 5px;
	align-items:center;
	justify-content:center;	
}

.column1 {
	text-align: center;
	flex: 50%;
	
}

.column2 {
	text-align: center;
	flex: 50%;
}

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: #c35dac;
     color: #c35dac;
}